@keyframes scrollpic{
	from{margin-top:0px;}
	to{margin-top:140px;}
}
@-webkit-keyframes scrollpic{
	from{margin-top:0px;}
	to{margin-top:150px;}	
}
@font-face {
  font-family: "Default";
  src: url('../Font/default.ttf') format("truetype");
}
#locker{
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: #000;
	position: absolute;
	margin:0px 0px 0px 0px;
	top:0px;
	left: 0px;
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	overflow: hidden;
}
.locker-unlock{
	color: #fff;
	font: 34px Inherit bold;
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 50px;
	transition:top 0.4s ease-out;
	-webkit-transition:top 0.4s ease-out;
	-moz-transition:top 0.4s ease-out;
	-o-transition:top 0.4s ease-out;
	-ms-transition:top 0.4s ease-out;
}
.locker-unlock u{
	opacity: 0;
	color: #CCC;
	text-decoration: none;
	font-size: 25px;
	right: 100px;
	position: absolute;
	top: 8px;
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
}
.locker-unlock img{
	width: 45px;
	height: 45px;
	position: absolute;
	right: 10px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
}
.locker-unlock:hover > u{
	opacity: 1;
}
.locker-unlock:hover > img{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
.lock-slider-bg{
	position: absolute;
	width: 100%;
	height: 530px;
	padding: 10px 0px 10px 0px;
	top:12%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(188,188,188,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(188,188,188,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(188,188,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbcbc',GradientType=1 );

	box-shadow: -1px -1px #000;
}
.lock-slider{
	width: 90%;
	height: 480px;
	left: 5%;
	float: inherit;
	position: relative;
	background: rgba(0,0,0,0);
	display: block;
	border:1px solid #fff;
}
body{
	padding: 0px;
	/*
	background: #000a7a;
	background: -moz-linear-gradient(left,  #000a7a 0%, #000b8c 50%, #000a7a 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000a7a), color-stop(50%,#000b8c), color-stop(100%,#000a7a));
	background: -webkit-linear-gradient(left,  #000a7a 0%,#000b8c 50%,#000a7a 100%);
	background: -o-linear-gradient(left,  #000a7a 0%,#000b8c 50%,#000a7a 100%);
	background: -ms-linear-gradient(left,  #000a7a 0%,#000b8c 50%,#000a7a 100%);
	background: linear-gradient(to right,  #000a7a 0%,#000b8c 50%,#000a7a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a7a', endColorstr='#000a7a',GradientType=1 );
	*/
	background: rgb(15,7,255);
	background: -moz-linear-gradient(left,  rgba(15,7,255,1) 0%, rgba(86,120,255,1) 90%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,7,255,1)), color-stop(90%,rgba(86,120,255,1)));
	background: -webkit-linear-gradient(left,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	background: -o-linear-gradient(left,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	background: -ms-linear-gradient(left,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	background: linear-gradient(to right,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f07ff', endColorstr='#5678ff',GradientType=1 );
	font-family: 'Default', serif;
	overflow-y:hidden;
}
.start-logo{
	float:left;
	margin-top:0px;
	margin-left:30px;
	position: absolute;
}
.start-logo p{
	font-size: 30px;
	display: block;
	font-weight: normal;
	color:#FFF;
	font-family: 'Default';
	
}
.user-logo{
	position: absolute;
	float: right;
	right: 0px;
	margin-right: 37px;
	top: 35px;
	overflow: hidden;
	margin-top: 0px;
	display: block;
	width: 240px;
	height: 45px;
	background: rgba(0,0,0,0);
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
}
.user-logo:hover{
	background: #0031c4;
}
.user-logo > ul{
	width: 100%;
	height: 100%;
	list-style: none;
	margin:0px;
}
.user-logo > ul > li{
	float: left;
}
.user-logo ul li img{
	width: 40px;
	height: 40px;
	margin-top: 2px;
	margin-left: 5px;
	position: absolute;
}
.user-logo ul li p{
	margin-top: 3px;
	float: left;
	font-size: 26px;
	font-weight: bold;
	position: relative;
	left: -20px;
	display: block;
	color: #CCC;
}
.dropdown-user{
	width: 230px;
	height: 0px;
	position: fixed;
	right: 44px;
	float: right;
	top: -505px;
	opacity: 0;
	padding: 0px;
	transition:transform 0.25s, opacity 0.25s ease-out;
	-webkit-transition:-webkit-transform 0.25s, opacity 0.25s, display 0.35s ease-out;
	-moz-transition:-moz-transform 0.25s, opacity 0.25s ease-out;
	-o-transition:-o-transform 0.25s, opacity 0.25s ease-out;
	-ms-transition:-ms-transform 0.25s, opacity 0.25s ease-out;
}
.drop-active{
	display: inherit;
	height: 300px;
	top: 50px;
	transform:translate(0px,20px);
	-webkit-transform:translate(0px,20px);
	-moz-transform:translate(0px,20px);
	-o-transform:translate(0px,20px);
	-ms-transform:translate(0px,20px);
	opacity: 1;
}
.dropdown-user > ul{
	list-style: none;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#57ffffff',GradientType=1 );
	border: 1px solid #000;
	margin-top: 0px;
	overflow: hidden;
}
.dropdown-user > ul > li{
	width: auto;
	
}
.dropdown-user > ul > li > a{
	display: block;
	text-decoration: none;
	position: relative;
	font-size: 16px;
	color: #000;
	height: 32px;
	width: 199px;
	padding-left: 30px;
	padding-top: 6px;
	margin: 0px;
	left: -40px;
	-webkit-transition:all 0.2s ease-out;
}
.dropdown-user > ul > li > a:hover{
	color: #FFF;
	background: #1900FF;
	opacity: 0.8;
}
#section-1{
	margin-top:110px;
	position: absolute;
	margin-left: 35px;
	display: block;
	width: 0px; /*default:800px*/
	padding: 5px;
	height: 485px;
	/*border: 1px solid #CCC;*/
	overflow: hidden;
	transition:width 0.5s ease-out;
	-webkit-transition:width 0.5s ease-out;
	-moz-transition:width 0.5s ease-out;
	-o-transition:width 0.5s ease-out;
	-ms-transition:width 0.5s ease-out;
}

#section-1 ul{
	display: block;
	margin: 0px;
	list-style: none;
	margin-left: -35px;
}
#section-1 ul li{
	float: left;
	margin-left: -4px;
}
#section-drop{
	margin-top:110px;
	position: absolute;
	margin-left: 35px;
	display: block;
	width: 800px; /*default:800px*/
	padding: 5px;
	height: 485px;
	border: 1px solid #CCC;
	overflow: hidden;
	transition:width 0.5s ease-out;
	-webkit-transition:width 0.5s ease-out;
	-moz-transition:width 0.5s ease-out;
	-o-transition:width 0.5s ease-out;
	-ms-transition:width 0.5s ease-out;
}
#section-drop ul{
	display: block;
	margin: 0px;
	list-style: none;
	margin-left: -35px;
}
#section-drop ul li{
	height: 40px;
	width: 99%;
	padding-left: 4px;
	border-bottom: 1px solid #FFF;
	margin-left: -4px;
	
}
.list-single img{
	width: 39px;
	height: auto;
	float: left;
}
.list-single p{
	float: left;
	margin-left: 4px;
	margin-top: 6px;
	color: #FFF;
	font-weight: bold;
}
.tile-single{
	z-index: 5;
	display: block;
	width: 150px;
	height: 150px;
	margin: 5px;
	background: #CCC;
	overflow: hidden;
}

.tile-single img{
	width: 100%;
	height: 100%;
	margin: 0px;
}
.tile-single p{
	width: 100%;
	height: 75px;
	position: relative;
	margin: 0px;
	background-color: #000;
	bottom:0px;/*bottom: 70px;*/
	opacity: 0.7;
	color:#FFF;
	font:13px Inherit;
	padding: 10px 0 0 0;
	text-align: center;
	transition:bottom 0.3s ease-out;
	-webkit-transition:bottom 0.3s ease-out;
	-moz-transition:bottom 0.3s ease-out;
	-o-transition:bottom 0.3s ease-out;
	-ms-transition:bottom 0.3s ease-out;
}
.tile-double-animate{
	display: block;
	width: 308px;
	height: 150px;
	
	margin: 5px;
	background: #CCC;
	overflow: hidden;
	background: rgba(0,0,0,0);
}
.tile-double-animate img{
	width: 100%;
	height: 100%;
	margin: 0px;
	top:0px;
	transition:all 0.5s ease-out;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
}
.tile-scroll-animate{
	transform: translate(0px,-155px);
	-webkit-transform: translate(0px,-155px);
	-moz-transform: translate(0px,-155px);
	-ms-transform: translate(0px,-155px);
	-o-transform: translate(0px,-155px);
}
.tile-double-animate p{
	width: 100%;
	height: 75px;
	position: relative;
	margin: 0px;
	background-color: #000;
	bottom:0px;/*bottom: 70px;*/
	opacity: 0.7;
	color:#FFF;
	font:13px Inherit;
	padding: 10px 0 0 0;
	text-align: center;
	transition:bottom 0.4s ease-out;
	-webkit-transition:bottom 0.4s ease-out;
	-moz-transition:bottom 0.4s ease-out;
	-o-transition:bottom 0.4s ease-out;
	-ms-transition:bottom 0.4s ease-out;
}

.tile-double{
	display: block;
	width: 308px;
	height: 150px;
	
	margin: 5px;
	background: #CCC;
	overflow: hidden;
	background: rgba(0,0,0,0);
}
.tile-double img{
	width: 100%;
	height: 100%;
	margin: 0px;
	top:0px;
	transition:all 0.5s ease-out;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
}
.tile-double p{
	width: 100%;
	height: 75px;
	position: relative;
	margin: 0px;
	background-color: #000;
	bottom:0px;/*bottom: 70px;*/
	opacity: 0.7;
	color:#FFF;
	font:13px Inherit;
	padding: 10px 0 0 0;
	text-align: center;
	transition:bottom 0.4s ease-out;
	-webkit-transition:bottom 0.4s ease-out;
	-moz-transition:bottom 0.4s ease-out;
	-o-transition:bottom 0.4s ease-out;
	-ms-transition:bottom 0.4s ease-out;
}

#separate-page{
	z-index: 98;
	background: #000772;
	background: -moz-linear-gradient(left,  #000772 0%, #0016a8 76%, #4363c1 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000772), color-stop(76%,#0016a8), color-stop(100%,#4363c1));
	background: -webkit-linear-gradient(left,  #000772 0%,#0016a8 76%,#4363c1 100%);
	background: -o-linear-gradient(left,  #000772 0%,#0016a8 76%,#4363c1 100%);
	background: -ms-linear-gradient(left,  #000772 0%,#0016a8 76%,#4363c1 100%);
	background: linear-gradient(to right,  #000772 0%,#0016a8 76%,#4363c1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000772', endColorstr='#4363c1',GradientType=1 );
	padding: 25px;
	width: 96%;/*width: 95%;*/
	float: left;
	top:-10px;
	height: 96%;
	position: fixed;
	overflow: hidden;
	margin: 0px;
	left: -100%;
	transition:width 0.45s, left 0.4s ease-out;
	-webkit-transition:width 0.45s, left 0.4s ease-out;
	-moz-transition:width 0.45s, left 0.4s ease-out;
	-o-transition:width 0.45s, left 0.4s ease-out;
	-ms-transition:width 0.45s, left 0.4s ease-out;
}

#sidebar-right{
	z-index: 99;
	/*width: 100px;*/
	width: 0px;
	height: 100%;
	position: fixed;
	float: right;
	right: 0px;
	border: 1px solid #FFF;
	margin: 0px;
	margin-top: -10px;
	background-color: #1d1d1d;
	overflow: hidden;
	transition:width 0.33s ease-out;
	-webkit-transition:width 0.33s ease-out;
	-moz-transition:width 0.33s ease-out;
	-o-transition:width 0.33s ease-out;
	-ms-transition:width 0.33s ease-out;
}

#sidebar-right ul{
	width: auto;
	height: auto;
	margin-top:40px;
	list-style: none;
}
#sidebar-right ul li{
	margin:10px 0px 0px 0px; /* TOP-LEFT-BOTTOM-RIGHT */
}
#sidebar-right ul li img{
	width: 45px;
	height: 45px;
	transition:all 0.35s ease-out;
	-webkit-transition:all 0.35s ease-out;
	-moz-transition:all 0.35s ease-out;
	-o-transition:all 0.35s ease-out;
	-ms-transition:all 0.35s ease-out;
}
#sidebar-right ul li:first-child img:hover{
	transition:all 0.35s ease-out;
	-webkit-transform:rotate(180deg);
	-moz-transition:all 0.35s ease-out;
	-o-transition:all 0.35s ease-out;
	-ms-transition:all 0.35s ease-out;
}
#sidebar-right ul li a{
	right: -50px;
	position: relative;
	text-decoration: none;
	transition:right 0.4s ease-out;
	-webkit-transition:right 0.4s ease-out;
	-moz-transition:right 0.4s ease-out;
	-o-transition:right 0.4s ease-out;
	-ms-transition:right 0.4s ease-out;
}
#sidebar-right ul li a p{
	color: #CCC;
	font: 13px Inherit bold;
	margin-left: 5px;
	top:-10px;
	position: relative;
}
.left-open-page{
	position: absolute;
	border: 1px solid #fff;
	margin: 55px 10px 0px 10px;
	height: 77%;
	width: 90%;
	padding: 25px 25px 25px 25px;
	overflow-x:hidden;
}
.style-table{
	top:50px;
}
.style-table tr td{
	color: #FFF;
	font: 17px Inherit;
}
.style-table tr td input[type="text"]{
	background-color: rgba(54, 25, 25, .00004);
	border: 1px solid #FFF;
	font: 17px Inherit;
	padding: 2px 2px 2px 2px;
	width: 180px;
	height: 20px;
	color:#FFF;
}
.back-button{
	z-index: 100;
	margin: 0px;
	height: 50px;
	top:5px;
	left: -300px;
	width: 150px;
	position: fixed;
	padding-bottom: 4px;
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
}
.back-button p{
	text-decoration: none;
	opacity: 0;
	color: #FFF;
	font-size: 30px;
	font-weight: bold;
	float: right;
	top: -33px;
	left: -40px;
	position: relative;
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
}
.back-button a{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.back-button img{
	float: left;
	background-image: url('../Images/backarrow.png');
	width: 34px;
	height: 34px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
}
.back-button a:hover > img{
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);	
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-webkit-transform:translate(50px,0);	

}
.back-button a:hover > p{
	-webkit-transform:translate(50px,0);	
	opacity: 1;
}
#popup-page{
	z-index: 98;
	display: none;
	opacity: 0;
	position: fixed;
	width: 60%;
	height: 60%;
	overflow: hidden;
	background: rgb(15,7,255);
	background: -moz-linear-gradient(left,  rgba(15,7,255,1) 0%, rgba(86,120,255,1) 90%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,7,255,1)), color-stop(90%,rgba(86,120,255,1)));
	background: -webkit-linear-gradient(left,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	background: -o-linear-gradient(left,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	background: -ms-linear-gradient(left,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	background: linear-gradient(to right,  rgba(15,7,255,1) 0%,rgba(86,120,255,1) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f07ff', endColorstr='#5678ff',GradientType=1 );
	top: 19%;
	left: 19%;
	-webkit-transition:all 0.35s ease-out;
}
.page-popup-title{
	top: 10px;
	position: relative;
	color:#FFF;
	font-size: 25px;
	padding-top: 5px;
	font-weight: bold;
	width: 101%;
	height: 45px;
}
.page-popup-title ul{
	margin: 0px;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	list-style: none;
}
.page-popup-title ul li{
	float: left;
	position: relative;
}
.page-popup-title ul li > img{
	width: 41px;
	height: 41px;
	margin-right: 25px;
}
.page-popup-wrap{
	z-index: 99;
	position: relative;
	width: 97%;
	height: 90%;
	margin: 10px 1% 0px 1%;
	display: block;
}
#blur{
	width: 0px;
	height: 0px;
	position: fixed;
	background: #000;
	z-index: 97;
	opacity: 0.5;
	display: block;
	top: 0px;
	left: 0px;
}